// Settings that influence how windows are positioned and sized.
// Find more information on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Layout
window-rule {
  geometry-corner-radius 20

  clip-to-geometry true
}

// open floating
window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    match app-id="org.kde.dolphin"

    open-floating true
}

// no drawing rectangle behind window
window-rule {
	match app-id=r#"^org\.gnome\."#
	match app-id=r#"^org\.wezfurlong\.wezterm$"#
    match app-id="dev.zed.Zed"
    match app-id="org.telegram.desktop"
    match app-id="google-chrome"
    
    draw-border-with-background false
	
}

// transparent & blur
window-rule {
   match app-id="dev.zed.Zed"
   match app-id="vesktop"
   match app-id="org.telegram.desktop"
   match app-id="google-chrome"
   match app-id="org.kde.dolphin"
   
   opacity 0.8
   background-effect {
    blur true
    xray true
  }
}


// application specific config
window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}

    background-effect {
 	  blur true
	  xray true
	}
}
window-rule {
    match app-id=r#"^steam$"# title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
    open-focused false
}

window-rule {
    match app-id="org.kde.dolphin"
	default-column-width { proportion 0.5; }
	default-window-height { proportion 0.8; }
}

// layer rules
layer-rule {
  match namespace="^noctalia-overview*"
  place-within-backdrop true
}
layer-rule {
  match namespace="^noctalia-background*"  
  opacity 0.7
}
