binds {
    // #"Application"
    Mod+T hotkey-overlay-title="terminal" { spawn "kitty"; }
    Mod+B hotkey-overlay-title="browser" { spawn "google-chrome-stable"; }
    Mod+Shift+W hotkey-overlay-title="skwd wall" { spawn "skwd-wall-v2"; }
  
    // #"Focus around"
    Mod+H { focus-column-left; }
    Mod+L { focus-column-right; }
    Mod+K { focus-window-up; }
    Mod+J { focus-window-down; }
    
    // #"Move around"
    Mod+Ctrl+H { move-column-left; }
    Mod+Ctrl+L{ move-column-right; }
    Mod+Ctrl+K { move-window-up; }
    Mod+Ctrl+J { move-window-down; }
    
    // #"Move window across workspace"
    Mod+Shift+H { move-window-to-workspace-up; }
    Mod+Shift+L { move-window-to-workspace-down; }
    
    // #"Consume or expel"
    Mod+bracketleft { consume-or-expel-window-left; }
    Mod+bracketright { consume-or-expel-window-right; }
    
    // #"Resize window"
    Mod+Alt+H { set-window-width "-5%"; }
    Mod+Alt+L { set-window-width "+5%"; }
    Mod+Alt+K{ set-window-height "-5%"; }
    Mod+Alt+J{ set-window-height "+5%"; }
    
    // #"Switch preset dimension"
    Mod+P { switch-preset-column-width; }
    Mod+Shift+P { switch-preset-window-height; }
    
    // #"Worksapce related"
    Mod+Shift+K { focus-workspace-up; }
    Mod+Shift+J { focus-workspace-down; }

    // #"Other"
    Mod+Q { close-window; }
    Mod+C { center-window; }
    Mod+O { toggle-overview; }
    Mod+F { toggle-window-floating; }
    Mod+Alt+F { fullscreen-window; }
    Mod+Ctrl+F { expand-column-to-available-width; }
    Mod+Shift+F { switch-focus-between-floating-and-tiling; }

    
    // #"Core Noctalia binds"
    Mod+Slash hotkey-overlay-title="launcher"  { spawn-sh "noctalia msg panel-toggle launcher"; }
    Mod+Space hotkey-overlay-title="control center"  { spawn-sh "noctalia msg panel-toggle control-center"; }
    Mod+Shift+Slash hotkey-overlay-title="settings"  { spawn-sh "noctalia msg settings-toggle"; }
    Mod+Escape hotkey-overlay-title="power menu"  { spawn-sh "noctalia msg panel-toggle session"; }

    // #"Noctalia Plugin binds"
    Mod+Alt+R hotkey-overlay-title="screen recorder"  { spawn-sh "noctalia msg plugin noctalia/screen_recorder:service all toggle"; }
    Mod+F1 hotkey-overlay-title="keybinds cheatsheet"  { spawn-sh "noctalia msg panel-toggle kenn/keybind-cheatsheet:cheatsheet"; }

    // Audio & Brightness
    XF86AudioRaiseVolume { spawn-sh "noctalia msg volume-up"; }
    XF86AudioLowerVolume { spawn-sh "noctalia msg volume-down"; }
    XF86AudioMute { spawn-sh "noctalia msg volume-mute"; }
    XF86MonBrightnessUp { spawn-sh "noctalia msg brightness-up"; }
    XF86MonBrightnessDown { spawn-sh "noctalia msg brightness-down"; }

    // #"Screen"
    Print hotkey-overlay-title="region screenshot" { spawn-sh "noctalia msg screenshot-region"; }
    Shift+Print hotkey-overlay-title="fullscreen screenshot" { spawn-sh "noctalia msg screenshot-fullscreen"; }
    Mod+Print hotkey-overlay-title="window screenshot" { spawn-sh "niri msg screenshot"; }
    Mod+A hotkey-overlay-title="screen annotation" { spawn-sh "noctalia msg screenshot-annotate"; }
}
