// Settings that influence how windows are positioned and sized.
// Find more information on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Layout
blur {
  passes 4        // more passes = stronger blur (default: 3)
  offset 3.0      // sample distance per pass (default: 3.0)
  noise 0.03      // grain overlay (default: 0.02)
  saturation 1.5 // color saturation boost (default: 1.5)
}

window-rule {
  geometry-corner-radius 20

  clip-to-geometry true
}

// open floating
window-rule {
    match app-id="mpv"
	match app-id="kitty"
	match app-id="dev.noctalia.Noctalia"

    open-floating true
}

// no drawing rectangle behind window
window-rule {
	match app-id=r#"^org\.gnome\."#
    match app-id="org.telegram.desktop"
	match app-id="google-chrome"
	match app-id="dev.noctalia.Noctalia"
    
    draw-border-with-background false
	
}

// transparent & blur
window-rule {
   match app-id="org.teegram.desktop"
   match app-id="kitty"
   match app-id="dev.noctalia.Noctalia"
   
   opacity 0.8
   background-effect {
    blur true
    xray true
  }
}


// application specific config
window-rule {
	match app-id="google-chrome"

	opacity 0.7
    background-effect {
 	  blur true
	  xray true
	}
}

window-rule {
  match app-id="dev.noctalia.Noctalia"

  default-column-width { fixed 1080; }
  default-window-height { fixed 920; }
}

// layer rules
// layer-rule {
//     match namespace="^skwd-paper-backdrop$"
//     place-within-backdrop true
// }
layer-rule {
    match namespace="^noctalia-backdrop$"
    place-within-backdrop true
}
layer-rule {
  match namespace="^noctalia-(bar-[^\"]+|notification|dock|panel|attached-panel|osd)$"
  match namespace="^noctalia-desktop-widget-audio_visualizer-*"
  opacity 0.7
}
